# Byte-compiled / optimized / DLL files
__pycache__/

# Config File
PacksGUI_conf.ini

# Font files
*.ttf

# Working Images
*.png

# Coverage
.coverage
htmlcov/

# Junk
.idea/
graphic_scroller.py
Rewards_pre_Aug11.odt